<!DOCTYPE html>
<html ng-app="news"> 

<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="">
	<meta name="author" content="">
    
   
    <title>Fake.com</title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicons -->
	<link rel="shortcut icon" href="img/favicon.ico">

	<!-- Google Fonts & Fontawesome -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,300italic,100italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

	<!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    

</head>
<body >

<!-- Topbar -->
<div class="top-bar container">
	<div class="row">
		<div class="col-md-6" ng-controller="DateController as data">
			<ul class="tb-left">
				<li class="tbl-date">Hoje é: <span>{{data.date | date:'yyyy-MM-dd'}}</span></li>
				<li class="tbl-temp"><i class="fa fa-sun-o"></i>32 C</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul class="tb-right">
				<li class="tbr-social">
					<span>
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-google-plus"></a>
					
					</span>
				</li>
				
			</ul>
		</div>
	</div>
</div>

<div class="container wrapper">

	<!-- Header -->
	<header>
		<div class="col-md-12">
			<div class="row">
			
				<!-- Navigation -->
				<div class="col-md-12">
					<div class="menu-trigger"><i class="fa fa-align-justify"></i> Menu</div>
					<nav>
						<ul>
							
							<li><a href="#">Cultura</a></li>
                            <li><a href="#">Esporte</a></li>
                            <li><a href="#">Entretenimento</a></li>
							<li><a href="#">Mundo</a></li>
							<li><a href="#">Sem categoria</a></li>
							<li><a href="#">Tecnologia</a></li>
							<li><a href="#">Viagem</a></li>
							<li><a href="contact.html">Contato</a></li>
							
						</ul>
					</nav>
				
				
				</div>
			</div>
		</div>
	</header>
	
	<div class="header">
		<div class="col-md-12">
			<div class="col-md-12">
				<!-- Logo -->
				<div class="col-md-4 logo">
					<h1><a href="index.html">Fake.com</a></h1>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Blog Single -->
	<div class="main-content container">
        <!--------------Content----------------->
		<div class="col-md-8 blog-single" ng-controller="ContentController as conteudo" ng-init= "atual=conteudo.posts[0]">
			<div class="bs-meta">
				<span class="bs-cat">{{atual.category}}</span>
				<span class="bs-comments"><a href="#"><i class="fa fa-comments-o"></i> {{atual.comments.length}} Comentários</a> </span>
			</div>
			<h3>{{atual.title}}</h3>
			<div class="row">
				<div class="col-md-3 bs-aside">
					<h6><span>{{atual.author}}</span></h6>
					<div class="sep1"></div>
					<div class="space10"></div>
					<div class="rp-date">
						<span>{{atual.mes}}</span>
						{{atual.dia}}
						<span><em>/</em> {{atual.ano}}</span>
					</div>
					<div class="space30"></div>
					<div class="sep1"></div>
					<div class="space20"></div>
					
					<span class="bsa-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-plus"></i></a>
					</span>
				</div>
				
				<div class="col-md-9" >
                    <p> {{atual.body}}</p>
                    
                    <div class="img-w-caption">
						<img ng-src="{{atual.image}}" class="img-responsive"alt=""/>                     
						<span>{{atual.imageSpan}}</span>
					</div>
					
					
					<div class="bs-tags">
						<span>Categoria : <a href="#">{{atual.category}}</a></span>
						<!--<span>Tags : <a href="#">Basket,</a> <a href="#">Dunk,</a> <a href="#">Jump</a></span>-->
					</div>
					
					
					
					</div>
			</div>
			
			
			<!-- Comments --> 
			<div class="comments-wrap">
				<div id="tabwrap">
					<ul id="tabs">
						<li class="current"><a href="#comments">{{atual.comments.length}} Comentários</a></li>
				    </ul>
					
					<div id="content">
						<div id="comments" class="current">
							<ul class="comments" ng-repeat="comentario in atual.comments">
								<li>
									<div class="c-img"><img src="images/profile.png" width="80px" alt=""/></div>
									<div class="comment-inner" >
										<h6><span>{{comentario.nome}}</span> </h6>
										
								<p>{{comentario.body}}</p>	
									</div>
								</li>
								
								
                        </ul>
        <form name="commentForm" ng-controller="CommentController as commentCtrl" ng-submit="commentCtrl.addComment(atual)">


                  <!--  Review Form -->

                  <fieldset class="form-group">
                    <input ng-model="commentCtrl.comentario.nome" type="name" class="form-control" placeholder="Nome" title="commentName">
                  </fieldset>
                  <fieldset class="form-group">
                      <textarea ng-model="commentCtrl.comentario.body" class="form-control" placeholder="Comentário" title="commentBody"></textarea>
                  </fieldset>
                  <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Enviar Comentário" />
                  </fieldset>
                </form>
                            
						</div>
						</div>
				</div>
                 
          
                
			</div>
		</div>
	
		<!-- Sidebar -->
		<aside class="col-md-4">
		
			<!-- Popular News -->
			<div class="side-widget p-news" ng-controller="popularController as popular">
				<h5><span>Mais comentadas</span></h5>
				<div class="sw-inner" >
					<ul>
						<li ng-repeat="post in popular.posts | limitTo: 5">
							<img ng-src={{post.image}} alt=""/>
							<div class="pn-info">
								<span>{{post.category}}</span>
								<h4><a href={{post.link}}>{{post.title}}</a></h4>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
        </aside>
			
			
	<!-- Footer - Fixed -->
	<div class="footer-fixed">
		<div class="row">
			<div class="col-md-6">
				<ul class="footer-nav">
					<li><a href="#">Início</a></li>
					<li><a href="#">Categorias</a></li>
					<li><a href="#">Contato</a></li>
					
				</ul>
			</div>
			<div class="col-md-6">
				<p class="copy1"><a href="#" class="fa fa-arrow-up"></a></p>
			</div>
		</div>
	</div>
</div>

<div class="clearfix space30"></div>

<!-- Javascript -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>



</body>
</html>
