<!-- Contact -->
            <div class="col-md-12 blog-single">
                <div class="bs-meta">
                    <span class="bs-cat">Contato</span>
                </div>
                <div class="space30"></div>

                <!-- Google Map -->
                <!-- Map -->
                <div class="map">
                    <div class="col-md-12 text-center">
                        <h3 id="demo"></h3>
                    </div>

                    <div id="map_canvas" style="width:70%; height:100%; float: left;"></div>
                    <div id="panel" style="width:30%; height: 100%;float:right; overflow: auto; "></div>
                    

                </div>
                <h3>Centro Federal de Educação Tecnológica de Minas Gerais</h3>

                <!-- Contact Info -->
                <div class="c-info">
                    <p>Estudantes de Engenharia de Computação</p>
                    <div class="space30"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Nosso escritório:</h6>
                            <p><span>Localização</span>  <em>CEFET-MG. No 104,<br>Nova Gameleira, Belo Horizonte<br>Brasil.</em>
                            </p>
                            <p><span>Telefone</span>  <em>(031) 1234 7070</em>
                            </p>
                            <p><span>Email</span>  <em>Staff@localhost.net</em>
                            </p>
                            <p><span>Horário de funcionamento</span>  <em>Segunda - Sexta </em>
                            </p>
                        </div>
                        
                    </div>
                </div>


            </div>